$very-dark-blue: hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsla(277, 64%, 61%, .7);
$white: hsl(0, 0%, 100%);
$slightly-transparent-white-75: hsla(0, 0%, 100%, 0.75);
$slightly-transparent-white-6: hsla(0, 0%, 100%, 0.6);

$font-Inter: 'Inter', sans-serif;
$font-Lexend: 'Lexend Deca', sans-serif;